
html{
font-family: 'Gilam';
background: #E5E5E5;
}

.body{
width: 1920px;
margin: 0 auto;
background: #171717;}

.container {
width: 1460px;
margin: 0 auto;}

.header{
display: flex;
justify-content: space-between;
align-items: center;
align-items: flex-start;
padding-top: 40px;}

.header a{
  cursor: pointer;
}

.heading{
font-size: 50px;
line-height: 28px;
color: #FFFFFF;}

.paragraph{
width: 1182px;
font-size: 20px;
line-height: 28px;
color: #FFFFFF;
padding: 41px 0px;}

.button_box{
background-color: black;
width: 218px;
height: 50px;
margin-bottom: 128px;
border: 1px solid #E4B564;
cursor: pointer;}

.button_box a{
color: #E4B564;
text-decoration: none;
font-size: 18px;
line-height: 30px;}


.parent {
width: 100%;   
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(2, 468px);
grid-column-gap: 30px;
grid-row-gap: 30px;
overflow:hidden;}

.div1, .div2, .div3{
display: grid;
justify-content: center;
align-content: center;
color: #FFFFFF;
font-size: 20px;
line-height: 28px;}


.div4, .div5{
display: grid;
justify-content: center;
align-content: center;
color: #FFFFFF;
font-size: 20px;
line-height: 28px;}
      
.div1 
{ grid-area: 1 / 1 / 2 / 3;
  background: #634F2C;}
.div2 
{grid-area: 1 / 3 / 2 / 5;
 background: #B4A385; 
 padding: 206px 44px;
 text-align: center;}
    
.div3 
{ grid-area: 1 / 5 / 2 / 7;
  background: #E4B564; }
.div4 
{ grid-area: 2 / 1 / 3 / 4;
  background: #635A4A;}
.div5
 {  grid-area: 2 / 4 / 3 / 7;
 background: #B08C4D; }


.container_parent{
width:100%;
display: grid;}    

.headingpart{
font-size: 50px;
line-height: 28px;
color: #FFFFFF;
margin: 161px 0px 94px 0px;}


.section-items {
height: 62vw;
max-height: 914px;
display: grid;
grid-template-rows: repeat(7, 1fr);
grid-template-columns: repeat(3, 1fr);

column-gap: 1.5%;
row-gap: 1.5%;
margin-bottom: 192px;
white-space:pre-line;}


.item1, .item2, .item3, .item4, .item5, .item6, .item7 {
display: grid;
box-sizing: border-box;
box-sizing: content-box;
font-size: 20px;
line-height: 25px;}

.item1 { 
padding-top: 44px;
padding-left: 52px;
grid-area: 1 / 1 / 4 / 2;}

.item2{
padding-top: 56px;
padding-left: 52px;
grid-area: 4 / 1 / 8 / 2; }

.item3 {
padding-top: 44px;
padding-left: 51px;
grid-area: 1 / 2 / 5 / 3; }

.item4 {
padding-top: 47px;
padding-left: 52px;
margin-bottom: 22px;
grid-area: 5 / 2 / 8 / 3; 
background: #E4B564}

.item5 {
padding-top: 44px;
padding-left: 48px;
grid-area: 1 / 3 / 3 / 4; }

.item6{
padding-top: 44px;
padding-left: 48px;
grid-area: 3 / 3 / 6 / 4; }

.item7{
padding-top: 44px;
padding-left: 48px;
grid-area: 6 / 3 / 8 / 4; }

.item1, .item6, .item7 {
background: #0E0E0E;
color: #FFFFFF;}


.item2, .item3, .item5{
background: #242424;
color: #FFFFFF;}

.container__footer{
display: flex;
justify-content: space-between;
text-align: center;
padding-top: 172px;
background: #0E0E0E;}

.footer_parent{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 391px);
/* padding-bottom: 240px; */
background-color: #0E0E0E;}

.link-box1, .link-box2, .link-box3, .link-box4,
.link-box5, .link-box6{
display: grid;
justify-content: center;
align-content: center;
text-align: center;
justify-items: center;
cursor: pointer;
}

.link-box1, .link-box6{
background: #634F2C;
}

.link-box2{
background: rgba(232, 210, 171, 0.76);
}

.link-box3{
background: #E4B564;
}

.link-box4{
background: #635A4A;
}

.link-box5{
background: #B08C4D;
}

.button_footer{
box-sizing: border-box;
box-sizing: content-box;
border: 1px solid #E4B564;
background: #0E0E0E;
margin-bottom: 61px;
}

.button_footer p{
font-size: 18px;
line-height: 30px;
padding: 10px 40px;
color: #E4B564;
}

.picture{
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
}


.hover_block{
display: none;
transition: 0s;
font-size: 22px;
line-height: 28px;

color: #FFFFFF;
cursor: pointer;

width: 326px;
justify-content: center;
}

.link-box1:hover .image{
position: relative;
padding-bottom: 15px;
}
.link-box1:hover .hover_block{
  position: relative;
  display: block;
  transition: 2s;
  }

.link-box2:hover .picture{
position: relative;
bottom: 10px;
}

.link-box2:hover .hover_block{
position: relative;
display: block;
transition: 2s;
}

.link-box3:hover .image{
  position: relative;
  padding-bottom: 15px;
  }
.link-box3:hover .hover_block{
  position: relative;
  display: block;
  transition: 2s;
  }


.link-box4:hover .image{
    position: relative;
    padding-bottom: 15px;
  }
.link-box4:hover .hover_block{
    position: relative;
    display: block;
    transition: 2s;
  }

  .link-box5:hover .image{
    position: relative;
    padding-bottom: 15px;
    }
  .link-box5:hover .hover_block{
    position: relative;
    display: block;
    transition: 2s;
    }


  .link-box6:hover .image{
      position: relative;
      padding-bottom: 15px;
      }
.link-box6:hover .hover_block{
      position: relative;
      display: block;
      transition: 2s;
      }

      .wrapper {
        width: 1920px;
margin: 0 auto;

background: #0E0E0E;
border-bottom: 238px solid #171717;
      }